@import "tailwindcss";
@plugin '@tailwindcss/typography';
@plugin "daisyui";

/*noinspection DuplicatedCode*/
@plugin "daisyui/theme" {
  name: "wcj-light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(92% 0.003 48.717);
  --color-base-300: oklch(100% 0 0);
  --color-base-content: oklch(14% 0.004 49.25);
  --color-primary: oklch(64% 0.222 41.116);
  --color-primary-content: oklch(98% 0.016 73.684);
  --color-secondary: oklch(68% 0.162 75.834);
  --color-secondary-content: oklch(98% 0.026 102.212);
  --color-accent: oklch(78% 0.154 211.53);
  --color-accent-content: oklch(39% 0.07 227.392);
  --color-neutral: oklch(14% 0.004 49.25);
  --color-neutral-content: oklch(86% 0.005 56.366);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(39% 0.095 152.535);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

/*noinspection DuplicatedCode*/
@plugin "daisyui/theme" {
  name: "wcj-dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(26% 0.007 34.298);
  --color-base-200: oklch(21% 0.006 56.043);
  --color-base-300: oklch(0% 0 0);
  --color-base-content: oklch(98% 0.001 106.423);
  --color-primary: oklch(55% 0.195 38.402);
  --color-primary-content: oklch(98% 0.016 73.684);
  --color-secondary: oklch(68% 0.162 75.834);
  --color-secondary-content: oklch(98% 0.026 102.212);
  --color-accent: oklch(78% 0.154 211.53);
  --color-accent-content: oklch(39% 0.07 227.392);
  --color-neutral: oklch(14% 0.004 49.25);
  --color-neutral-content: oklch(86% 0.005 56.366);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(39% 0.095 152.535);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(25% 0.092 26.042);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

dfn {
  font-style: normal;
}


